@import "variables.less";
@import "reset.less";
@import "select-box.less";

// ====================
// FONT FACES
// ====================
@font-face {
    font-family: 'Roboto Light';
    src: url('@{path-to-fonts}Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('@{path-to-fonts}Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('@{path-to-fonts}Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('@{path-to-fonts}Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// ====================
// MIXINS
// ====================

.standard-input() {
  color: @text-dark-grey;
  display: inline-block;
  margin: (@form-spacing - @input-height) / 2 0;
  height: @input-height;
  padding: 0 @basic-padding;
  border: 1px solid @lighter-green;
  box-sizing: border-box;
}

.oswald() {
  font-family: 'Oswald';
  font-weight: normal;
}

.roboto-regular() {
  font-family: 'Roboto Medium';
  font-weight: 500;
}

.roboto-light() {
  font-family: 'Roboto Light';
  font-weight: 300;
}

// ====================
// STYLES
// ====================

// multiple classes
[class*="heading"] {
  text-transform: uppercase;
}

[class*="block"], [class*="section"] {
  box-sizing: border-box;
  overflow: hidden;
}

[class*="form-field"] {
  &:before {
    content: '';
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
  & * {
    display: inline-block;
    vertical-align: middle;
  }
}

body {
  background: @main-bg-color;
  font-size: @text-size;
  color: @text-dark-grey;
  .roboto-light();
}

#content {
  width: @content-width;
  padding: 0;
  margin: auto;
  overflow: hidden;
}

.form-field {
  & {
    height: @form-spacing;
  }
  & label + input[type="radio"] + label, & input[type="text"] + label, & label + input[type="text"] {
    margin-left: @basic-margin;
  }
  &-relative {
    min-height: @form-spacing;
  }
}

.bolder-font {
  .roboto-regular();
}

.centered-text {
  text-align: center;
}

.float {
  &-right {
    float: right;
    right: 0;
  }
  &-left {
    float: left;
    left: 0;
  }
}

.hidden {
  display: none;
}

.required {
  color: @lighter-red;
}

.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

// h1 {
//   &.main-heading {
//     font-size: @h1-heading-size;
//     color: @darker-blue;
//     margin-bottom: @basic-margin;
//     .oswald();
//   }
// }

.block {
  &, &-transparent {
    width: @content-width;
    float: left;
  }
  &, &-half {
    background: @block-bg-color;
    border-radius: @basic-border-radius;
    box-shadow: @basic-shadow @grey-shadow;
    margin: @basic-margin auto @basic-margin + @basic-shadow-size;
  }
  &-header {
    & {
      width: 100%;
      height: @block-header-height;
      line-height: @block-header-height - (@basic-padding * 2);
      padding: @basic-padding;
      border-bottom: 1px solid @dark-grey;
    }
    & .block-heading {
      font-size: @h3-heading-size;
      .roboto-light();
    }
  }
  &-content-section {
    width: 100%;
    padding: @basic-padding;
  }
  &-half {
    & {
      width: @content-width / 2 - @basic-margin;
    }
    &.float-left {
      margin-right: @basic-margin;
    }
    &.float-right {
      margin-left: @basic-margin;
    }
  }
}

.section {
  &-half {
    width: 50%;
  }
  &-full {
    width: 100%;
    float: none;
  }
  &-half, &-full {
    padding: @basic-padding;
  }
  &-nested {
    & {
      position: relative;
      width: 100%;
      padding-left: @form-spacing;
    }
    &:before {
      content: " ";
      position: absolute;
      width: @form-spacing / 2;
      height: @form-spacing / 2;
      top: 0;
      left: 8px;
      border-left: 1px solid @lighter-blue;
      border-bottom: 1px solid @lighter-blue;
      border-radius: @basic-border-radius;
    }
  }
}


input {
  &[type="checkbox"], &[type="radio"] {
    display: none;
  }
  &[type="checkbox"] + label span, &[type="radio"] + label span {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: -2px 10px 0 0;
    vertical-align:middle;
    cursor: pointer;
  }
  &[type="checkbox"] + label, &[type="radio"] + label {
    cursor: pointer;
  }
  &[type="checkbox"] + label span {
    background: url('@{path-to-images}sprite.png') -1px -126px no-repeat;
  }
  &[type="radio"] + label span {
    background: url('@{path-to-images}sprite.png') -1px -147px no-repeat;
  }
  &[type="checkbox"]:checked + label span {
     background: url('@{path-to-images}sprite.png') -24px -126px no-repeat;
  }
  &[type="radio"]:checked + label span {
    background: url('@{path-to-images}sprite.png') -24px -147px no-repeat;
  }
}

.input {
  &-small, &-regular, &-multiline {
    .standard-input();
  }
  &-small {
    width: @input-small-width;
  }
  &-regular {
    width: @input-regular-width;
  }
  &-multiline {
    min-height: @input-height * 2;
    max-height: @input-height * 8;
    margin: (@form-spacing - 16) / 2 0;
    resize: vertical;
  }
}
