@import "variables.less";
@import "reset.less";

// ====================
// FONT FACES
// ====================
@font-face {
    font-family: 'Roboto Light';
    src: url('@{path-to-fonts}Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: 300;
}

@font-face {
    font-family: 'Roboto';
    src: url('@{path-to-fonts}Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('@{path-to-fonts}Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// ====================
// MIXINS
// ====================

.rounded-corners() {
  border-radius: 50px;
}

.oswald() {
  font-family: 'Oswald';
  font-weight: normal;
}

.roboto-regular() {
  font-family: 'Roboto';
  font-weight: normal;
}

.roboto-light() {
  font-family: 'Roboto Light';
  font-weight: 300;
}

// ====================
// STYLES
// ====================

// multiple classes
[class*="heading"] {
  text-transform: uppercase;
}

[class*="block"], [class*="section"] {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-size: 14px;
  color: @warm-grey-7;
  .roboto-light();
}

#content {
  width: @content-width;
  padding: 0;
  margin: auto;
}

h1 {
  &.main-heading {
    font-size: @h1-heading-size;
    color: @dark-blue;
    margin-bottom: @basic-margin;
    .oswald();
  }
}

.block {
  & {}
  &-wrapper {
    margin: @basic-margin auto;
  }
  &-header {
    & {
      width: @content-width;
      height: @header-height;
      line-height: @header-height - (@basic-padding * 2);
      padding: @basic-padding (@basic-padding * 2);
      background: @skin-color-light;
      .rounded-corners();
    }
    & .block-heading {
      font-size: @h3-heading-size;
      color: @warm-grey-6;
      .roboto-regular();
    }
  }
  &-content-section {}
}

.section {
  &-left-half, &-right-half {
    width: @content-width / 2;
    padding: @basic-padding;
    float: left;
  }
  &-right-half {
    float: right;
  }
  &-nested {
    & {
      position: relative;
      width: 100%;
      padding-left: @form-spacing;
    }
    &:before {
      content: " ";
      position: absolute;
      width: 20px;
      height: 20px;
      top: 0;
      left: 0;
      background: url('@{path-to-images}sprite.png') -70px -11px no-repeat;
    }
  }
}

.spaced-out-text {
  line-height: @form-spacing;
}

.input {
  &-small, &-regular {
    height: @input-height;
    border: 1px solid @warm-grey-2;
    box-sizing: border-box;
  }
  &-small {
    width: @input-small-width;
  }
  &-regular {
    width: @input-regular-width;
  }
  &-multiline {}
}
