// ====================
// PATHS
// ====================

@path-to-fonts: '../fonts/';
@path-to-images: '../img/';

// ====================
// COLORS
// ====================

// main background
@main-bg-color: #ebebeb;
@block-bg-color: #fff;
// text colors
@text-light-grey: #a0a0a0;
@text-dark-grey: #888;
// grey color palette for content text, borders and table backgrounds
@light-grey: #f7f7f7;
@medium-grey: #efefef;
@dark-grey: #dbdbdb;
// color set for notifications
@lighter-red: #fd7f68;
@darker-red: #e67356;
@lighter-blue: #6fcce5;
@darker-blue: #6bb9cf;
@lighter-green: #00cdc0;
@darker-green: #01b4ae;

// ====================
// NUMBERS
// ====================

// width & height
@content-width: 980px;
@block-header-height: 50px;
@form-spacing: 40px;
@input-height: 32px;
@input-small-width: 50px;
@input-regular-width: 250px;
// spacing & border radius
@basic-padding: 10px;
@basic-margin: 10px;
@basic-border-radius: 2px;
// font sizes
@text-size: 14px;
@logo-size: 18px;
@menu-link-size: 15px;
@h1-heading-size: 40px;
@h2-heading-size: 30px;
@h3-heading-size: 16px;
// shadows
@basic-shadow-size: 2px;
@basic-shadow: 0px @basic-shadow-size 0px;
@grey-shadow: rgba(0, 0, 0, 0.15);
// buttons
@button-height: @input-height;
@large-button-height: 50px;
@regular-button-width: 150px;
@large-button-width: @input-regular-width;
